$color-background:linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
$color-decoration:linear-gradient(300deg, #22e1ff 0%, #1d8fe1 48%, #625eb1 100%);
$color:linear-gradient(-20deg, rgba(183, 33, 255, 0.73) 0%, #21d4fd 100%);
$color1:linear-gradient(to top, #00c6fb 0%, #005bea 100%);